docwatch
push
TODO
.idea/
# */output/
*/build/
!outputs/*
slurm/
debug/
.cache/
# scripts/
__pycache__/
*.pyc
*.ipynb_checkpoints
*.log
*.txt
*.gz
*.egg-info
*.so
*.swp
*.tif
*.tiff
*.bmp
*.png
*.jpeg
*.jpg
*.tar
